@media (max-width:566px){

  input[type="number"]{
    transform: scale(105%);
    margin:20px 20px;
    padding:10px 20px;
    width: 100%;
  }

  .submit-btn{
    transform: scale(110%);
    margin:10px 10px 10px 25px !important;
    width: 100%;
    
  }
}